In [4]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
sns.set(rc={'figure.figsize':(8,6)})

In [5]:
def euc_distance(a,b):
    return np.sqrt((a[0]- b[0])**2 + (a[1]-b[1])**2)

In [6]:
def f(x):
    return ((5*x[0]-x[1])**4 + (x[0]-2)**2 + x[0] - 2*x[1] + 12)

In [7]:
def exact_line(f,d,x):
    min_val = 1000000
    best_alpha = 0
    interval = np.arange(-100,100,0.005)
    for alpha in interval:
        if(f(x+(alpha*np.array(d)))<= min_val):
            min_val = f(x+(alpha*np.array(d)))
            best_alpha = alpha
    return best_alpha

In [8]:
alpha_vals = []
x_vals = []
x_next_vals = []
directions = []
def cyclic_search(eps, f):
    x = np.zeros((100,2))
    k = 0
    x[0] = [5,35]
    I = np.identity(2)
    while(True):
        for j in range(2):
            alpha = 0.
            alpha = exact_line(f,I[j],x[k])
            alpha_vals.append(alpha)
            directions.append(I[j])
            x[k+1][j] = x[k][j] + alpha
            x[k+1][1-j] = x[k][1-j]
            x_vals.append(x[k])
            x_next_vals.append([round(i,4) for i in x[k+1]])
            k= k+1
        if(euc_distance(x[k],x[k-1]) <= eps):
            break
    return x[k]

In [6]:
output = cyclic_search(0.0001, f)
df_cyclic = pd.DataFrame(x_vals, columns = ["X(k)" , "Y(k)"])
df_cyclic["f(X(k))"] = [f(x) for x in x_vals]
df_cyclic["d(k)"] = directions
df_cyclic["alpha(k)"] = alpha_vals
df_cyclic["X(k+1)"] = x_next_vals

In [7]:
print("Results : ")
df_cyclic

Results :

     X(k)    Y(k)      f(X(k))        d(k)      alpha(k)           X(k+1)
0   5.000  35.000  9956.000000  [1.0, 0.0]  1.840000e+00     [6.84, 35.0]
1   6.840  35.000   -27.324800  [0.0, 1.0] -5.000000e-03   [6.84, 34.995]
2   6.840  34.995   -27.324944  [1.0, 0.0] -5.000000e-03  [6.835, 34.995]
3   6.835  34.995   -27.325653  [0.0, 1.0] -2.500000e-02   [6.835, 34.97]
4   6.835  34.970   -27.328319  [1.0, 0.0] -5.000000e-03    [6.83, 34.97]
5   6.830  34.970   -27.328978  [0.0, 1.0] -2.500000e-02   [6.83, 34.945]
6   6.830  34.945   -27.331644  [1.0, 0.0] -5.000000e-03  [6.825, 34.945]
7   6.825  34.945   -27.332253  [0.0, 1.0] -2.500000e-02   [6.825, 34.92]
8   6.825  34.920   -27.334919  [1.0, 0.0] -5.000000e-03    [6.82, 34.92]
9   6.820  34.920   -27.335478  [0.0, 1.0] -2.500000e-02   [6.82, 34.895]
10  6.820  34.895   -27.338144  [1.0, 0.0] -5.000000e-03  [6.815, 34.895]
11  6.815  34.895   -27.338653  [0.0, 1.0] -2.500000e-02   [6.815, 34.87]
12  6.815  34.870   -27.341319  [1.0, 0.0] -5.000000e-03    [6.81, 34.87]
13  6.810  34.870   -27.341778  [0.0, 1.0] -2.500000e-02   [6.81, 34.845]
14  6.810  34.845   -27.344444  [1.0, 0.0] -5.000000e-03  [6.805, 34.845]
15  6.805  34.845   -27.344853  [0.0, 1.0] -2.500000e-02   [6.805, 34.82]
16  6.805  34.820   -27.347519  [1.0, 0.0] -5.000000e-03     [6.8, 34.82]
17  6.800  34.820   -27.347878  [0.0, 1.0] -2.500000e-02    [6.8, 34.795]
18  6.800  34.795   -27.350544  [1.0, 0.0] -5.000000e-03  [6.795, 34.795]
19  6.795  34.795   -27.350853  [0.0, 1.0] -2.500000e-02   [6.795, 34.77]
20  6.795  34.770   -27.353519  [1.0, 0.0] -5.000000e-03    [6.79, 34.77]
21  6.790  34.770   -27.353778  [0.0, 1.0] -2.500000e-02   [6.79, 34.745]
22  6.790  34.745   -27.356444  [1.0, 0.0] -5.000000e-03  [6.785, 34.745]
23  6.785  34.745   -27.356653  [0.0, 1.0] -2.500000e-02   [6.785, 34.72]
24  6.785  34.720   -27.359319  [1.0, 0.0] -5.000000e-03    [6.78, 34.72]
25  6.780  34.720   -27.359478  [0.0, 1.0] -2.500000e-02   [6.78, 34.695]
26  6.780  34.695   -27.362144  [1.0, 0.0] -5.000000e-03  [6.775, 34.695]
27  6.775  34.695   -27.362253  [0.0, 1.0] -2.500000e-02   [6.775, 34.67]
28  6.775  34.670   -27.364919  [1.0, 0.0] -5.000000e-03    [6.77, 34.67]
29  6.770  34.670   -27.364978  [0.0, 1.0] -2.500000e-02   [6.77, 34.645]
30  6.770  34.645   -27.367644  [1.0, 0.0] -5.000000e-03  [6.765, 34.645]
31  6.765  34.645   -27.367653  [0.0, 1.0] -2.500000e-02   [6.765, 34.62]
32  6.765  34.620   -27.370319  [1.0, 0.0] -9.094947e-11   [6.765, 34.62]
33  6.765  34.620   -27.370319  [0.0, 1.0] -9.094947e-11   [6.765, 34.62]

In [8]:
print(f"""

x* =  {output}

f(x*) = {f(output)}

""")

x* =  [ 6.765 34.62 ]

f(x*) = -27.37031940013437

## Parameter Set 2

For exact line search (a,b,eps): (-200,200,0.01)

For Cyclic Search (eps) : (0.001)

Initial point : [10,10]

In [7]:
def exact_line(f,d,x):
    min_val = 1000000
    best_alpha = 0
    interval = np.arange(-200,200,0.01)
    for alpha in interval:
        if(f(x+(alpha*np.array(d)))<= min_val):
            min_val = f(x+(alpha*np.array(d)))
            best_alpha = alpha
    return best_alpha

In [8]:
alpha_vals = []
x_vals = []
x_next_vals = []
directions = []
def cyclic_search(eps, f):
    x = np.zeros((500,2))
    k = 0
    x[0] = [10,10]
    I = np.identity(2)
    while(True):
        for j in range(2):
            alpha = 0.
            alpha = exact_line(f,I[j],x[k])
            alpha_vals.append(alpha)
            directions.append(I[j])
            x[k+1][j] = x[k][j] + alpha
            x[k+1][1-j] = x[k][1-j]
            x_vals.append(x[k])
            x_next_vals.append([round(i,4) for i in x[k+1]])
            k= k+1
        if(euc_distance(x[k],x[k-1]) <= eps):
            break
    return x[k]

In [11]:
output = cyclic_search(0.0001, f)
df_cyclic = pd.DataFrame(x_vals, columns = ["X(k)" , "Y(k)"])
df_cyclic["f(X(k))"] = [f(x) for x in x_vals]
df_cyclic["d(k)"] = directions
df_cyclic["alpha(k)"] = alpha_vals
df_cyclic["X(k+1)"] = x_next_vals

In [12]:
print("Results : ")
df_cyclic

Results :

      X(k)   Y(k)       f(X(k))        d(k)      alpha(k)         X(k+1)
0    10.00  10.00  2.560066e+06  [1.0, 0.0] -8.070000e+00   [1.93, 10.0]
1     1.93  10.00 -6.050094e+00  [0.0, 1.0]  4.400000e-01  [1.93, 10.44]
2     1.93  10.44 -6.555599e+00  [1.0, 0.0]  8.000000e-02  [2.01, 10.44]
3     2.01  10.44 -6.846766e+00  [0.0, 1.0]  4.000000e-01  [2.01, 10.84]
4     2.01  10.84 -7.280399e+00  [1.0, 0.0]  8.000000e-02  [2.09, 10.84]
..     ...    ...           ...         ...           ...            ...
349   5.97  30.59 -2.714923e+01  [0.0, 1.0]  5.000000e-02  [5.97, 30.64]
350   5.97  30.64 -2.715960e+01  [1.0, 0.0]  1.000000e-02  [5.98, 30.64]
351   5.98  30.64 -2.715973e+01  [0.0, 1.0]  5.000000e-02  [5.98, 30.69]
352   5.98  30.69 -2.717010e+01  [1.0, 0.0] -1.818989e-10  [5.98, 30.69]
353   5.98  30.69 -2.717010e+01  [0.0, 1.0] -1.818989e-10  [5.98, 30.69]

[354 rows x 6 columns]

In [13]:
print(f"""

x* =  {output}

f(x*) = {f(output)}

""")

x* =  [ 5.97999997 30.68999997]

f(x*) = -27.170099160104627

# Hook-Jeeves Method

## Parameter Set 1

For exact line search (a,b,eps): (-100,100,0.005)

For Hook-Jeeves Method (eps) : (0.001)

Initial point : [10,10]

In [9]:
def exact_line(f,d,x):
    min_val = 1000000
    best_alpha = 0
    interval = np.arange(-100,100,0.005)
    for alpha in interval:
        if(f(x+(alpha*np.array(d)))<= min_val):
            min_val = f(x+(alpha*np.array(d)))
            best_alpha = alpha
    return best_alpha

In [10]:
alpha_vals = []
x_vals = []
x_next_vals = []
x_temp_vals = []
directions = []
def hook_jeeves_method(eps, f):
    x = np.zeros((500,2))
    d = np.zeros((500,2))
    Lambda = np.zeros(500)
    k = 0
    x[0] = [10,10]
    I = np.identity(2)
    while(True):
        alphas = []
        x_temp = [[0.],[0.]]
        for j in range(2):
            alpha = 0.
            alpha = exact_line(f,I[j],x[k])
            alphas.append(alpha)
            x_temp[j] = x[k][j] + alpha
        alpha_vals.append(alphas)
        x_temp_vals.append(np.round(x_temp, 4))
        d[k] = x_temp - x[k]
        directions.append(np.round(d[k],4))
        Lambda[k] = exact_line(f,d[k],x[k])
        x[k+1] = x[k] +  Lambda[k] * d[k]
        x_next_vals.append([round(i,4) for i in x[k+1]])
        x_vals.append(x[k])
        k= k+1
        if(euc_distance(x[k],x[k-1]) <= eps):
            break
    return x[k]

In [16]:
output = hook_jeeves_method(0.001, f)
df_hook = pd.DataFrame(x_vals, columns = ["X(k)" , "Y(k)"])
df_hook["f(X(k))"] = [f(x) for x in x_vals]
df_hook["X_tempk(k)"] = x_temp_vals
df_hook["d(k)"] = directions
df_hook["alpha(k)"] = alpha_vals
df_hook["X(k+1)"] = x_next_vals

In [17]:
print("Results : ")
df_hook

Results :

,X(k),Y(k),f(X(k)),X_tempk(k),d(k),alpha(k),X(k+1)
0,10.000000,10.000000,2.560066e+06,"[1.93, 50.795]","[-8.07, 40.795]","[-8.07000000008361, 40.79499999987195]","[5.965, 30.3975]"
1,5.965000,30.397500,-2.700135e+01,"[5.925, 30.6175]","[-0.04, 0.22]","[-0.04000000009091309, 0.21999999990885044]","[5.9452, 30.5064]"
2,5.945200,30.506400,-2.713209e+01,"[5.9502, 30.5214]","[0.005, 0.015]","[0.004999999909045982, 0.014999999909036887]","[5.9767, 30.601]"
3,5.976725,30.600975,-2.714608e+01,"[5.9667, 30.676]","[-0.01, 0.075]","[-0.010000000090940375, 0.07499999990898232]","[5.9715, 30.64]"
4,5.971525,30.639975,-2.716078e+01,"[5.9765, 30.65]","[0.005, 0.01]","[0.004999999909045982, 0.009999999909041435]","[5.9839, 30.6647]"
...,...,...,...,...,...,...,...
129,6.261325,32.100300,-2.738359e+01,"[6.2663, 32.1003]","[0.005, -0.0]","[0.004999999909045982, -9.094947017729282e-11]","[6.2638, 32.1003]"
130,6.263850,32.100300,-2.738419e+01,"[6.2638, 32.1153]","[-0.0, 0.015]","[-9.094947017729282e-11, 0.014999999909036887]","[6.2638, 32.113]"
131,6.263850,32.112975,-2.738478e+01,"[6.2688, 32.113]","[0.005, -0.0]","[0.004999999909045982, -9.094947017729282e-11]","[6.2664, 32.113]"
132,6.266375,32.112975,-2.738538e+01,"[6.2664, 32.128]","[-0.0, 0.015]","[-9.094947017729282e-11, 0.014999999909036887]","[6.2664, 32.1256]"
133,6.266375,32.125575,-2.738597e+01,"[6.2664, 32.1256]","[-0.0, -0.0]","[-9.094947017729282e-11, -9.094947017729282e-11]","[6.2664, 32.1256]"

In [18]:
print(f"""

x* =  {output}

f(x*) = {f(output)}

""")

x* =  [ 6.266375   32.12557499]

f(x*) = -27.385970147399675

## Parameter Set 2

For exact line search (a,b,eps): (-100,100,0.005)

For Hook-Jeeves Method (eps) : (0.001)

Initial point : [5,35]

In [11]:
def exact_line(f,d,x):
    min_val = 1000000
    best_alpha = 0
    interval = np.arange(-100,100,0.005)
    for alpha in interval:
        if(f(x+(alpha*np.array(d)))<= min_val):
            min_val = f(x+(alpha*np.array(d)))
            best_alpha = alpha
    return best_alpha

In [12]:
alpha_vals = []
x_vals = []
x_next_vals = []
x_temp_vals = []
directions = []
def hook_jeeves_method(eps, f):
    x = np.zeros((500,2))
    d = np.zeros((500,2))
    Lambda = np.zeros(500)
    k = 0
    x[0] = [5,35]
    I = np.identity(2)
    while(True):
        alphas = []
        x_temp = [[0.],[0.]]
        for j in range(2):
            alpha = 0.
            alpha = exact_line(f,I[j],x[k])
            alphas.append(alpha)
            x_temp[j] = x[k][j] + alpha
        alpha_vals.append(alphas)
        x_temp_vals.append(np.round(x_temp, 4))
        d[k] = x_temp - x[k]
        directions.append(np.round(d[k],4))
        Lambda[k] = exact_line(f,d[k],x[k])
        x[k+1] = x[k] +  Lambda[k] * d[k]
        x_next_vals.append([round(i,4) for i in x[k+1]])
        x_vals.append(x[k])
        k= k+1
        if(euc_distance(x[k],x[k-1]) <= eps):
            break
    return x[k]

In [21]:
output = hook_jeeves_method(0.001, f)
df_hook = pd.DataFrame(x_vals, columns = ["X(k)" , "Y(k)"])
df_hook["f(X(k))"] = [f(x) for x in x_vals]
df_hook["X_tempk(k)"] = x_temp_vals
df_hook["d(k)"] = directions
df_hook["alpha(k)"] = alpha_vals
df_hook["X(k+1)"] = x_next_vals

In [22]:
print("Results : ")
df_hook

Results :

,X(k),Y(k),f(X(k)),X_tempk(k),d(k),alpha(k),X(k+1)
0,5.000000,35.000000,9956.000000,"[6.84, 25.795]","[1.84, -9.205]","[1.839999999907377, -9.205000000082578]","[5.92, 30.3975]"
1,5.920000,30.397500,-27.104096,"[5.925, 30.3925]","[0.005, -0.005]","[0.004999999909045982, -0.005000000090944923]","[5.925, 30.3925]"
2,5.925000,30.392500,-27.107388,"[5.925, 30.4175]","[-0.0, 0.025]","[-9.094947017729282e-11, 0.024999999909027792]","[5.925, 30.4188]"
3,5.925000,30.418750,-27.109926,"[5.93, 30.4188]","[0.005, -0.0]","[0.004999999909045982, -9.094947017729282e-11]","[5.9313, 30.4188]"
4,5.931275,30.418750,-27.113490,"[5.9313, 30.4488]","[-0.0, 0.03]","[-9.094947017729282e-11, 0.029999999909023245]","[5.9313, 30.4501]"
...,...,...,...,...,...,...,...
167,6.262800,32.107675,-27.384287,"[6.2678, 32.1077]","[0.005, -0.0]","[0.004999999909045982, -9.094947017729282e-11]","[6.2653, 32.1077]"
168,6.265325,32.107675,-27.384880,"[6.2653, 32.1227]","[-0.0, 0.015]","[-9.094947017729282e-11, 0.014999999909036887]","[6.2653, 32.1203]"
169,6.265325,32.120350,-27.385478,"[6.2703, 32.1203]","[0.005, -0.0]","[0.004999999909045982, -9.094947017729282e-11]","[6.2678, 32.1203]"
170,6.267825,32.120350,-27.386063,"[6.2678, 32.1303]","[-0.0, 0.01]","[-9.094947017729282e-11, 0.009999999909041435]","[6.2678, 32.1328]"
171,6.267825,32.132850,-27.386646,"[6.2678, 32.1328]","[-0.0, -0.0]","[-9.094947017729282e-11, -9.094947017729282e-11]","[6.2678, 32.1328]"

In [23]:
print(f"""

x* =  {output}

f(x*) = {f(output)}

""")

x* =  [ 6.26782499 32.13285   ]

f(x*) = -27.386645553672253

# Simplex Search

In [42]:
def simplex_search(alpha ,beta ,gamma, eps, f , start_pts):
    
    x = np.zeros((3,2))
    x_h = np.array(start_pts[np.argmax([f(i) for i in start_pts])])
    h = np.argmax([f(i) for i in start_pts])
    x_l = np.array(start_pts[np.argmin([f(i) for i in start_pts])])
    l = np.argmin([f(i) for i in start_pts])
    for i in range(0,len(start_pts)):
        if((i != np.argmax([f(i) for i in x])) or (i !=np.argmin([f(i) for i in x]))):
            x_m = start_pts[i]
            m = i-1

    x = [start_pts[l],start_pts[m],start_pts[h]]
    
    
    while(True):
        x_h = np.array(x[np.argmax([f(i) for i in x])])
        h = np.argmax([f(i) for i in x])
        x_l = np.array(x[np.argmin([f(i) for i in x])])
        l = np.argmin([f(i) for i in x])
                      
        for i in range(0,len(start_pts)):
            if((i != np.argmax([f(i) for i in x])) or (i !=np.argmin([f(i) for i in x]))):
                x_m = x[i]
                m = i-1
            
        counter = 0
        Sum = np.zeros(2)
        
        for i in range(0,len(x)):
            if(np.array_equal(x[i], x_h) == False):
                counter +=1
                Sum += x[i]
        
        x_bar = Sum/counter
        x_bar = np.array(x_bar)
        
        # Reflection
        x_r = np.array(x_bar) + alpha * (x_bar-x_h)
        x_r = np.array(x_r)
        
        if(f(x_l)>f(x_r)):
            
            #expansion
            x_e = x_bar + gamma * (x_r-x_bar)
            x_e = np.array(x_e)
            if(f(x_r)>f(x_e)):
                x_h = x_e
                x[h] = x_h
            else:
                x_h = x_r #expansion failed
                x[h] = x_h
        else:
            values = []
            for i in range(0,len(x)):
                
                if(np.array_equal(x[i], x_h) == False):
                    values.append(f(x[i]))
                    
            Max = np.max(values)
            
            if(Max >= f(x_r)):
                x_h = x_r
                x[h] = x_h
            
            else:
                
                #contraction
                if(f(x_h) > f(x_r)):
                    x_h_prime = x_r
                    x_h_prime = np.array(x_h_prime)
                else:
                    x_h_prime = x_h
                    x_h_prime = np.array(x_h_prime)
                x_c = x_bar + beta * (x_h_prime-x_bar)
                
                if(f(x_c)<= f(x_h_prime)):
                    x_h = x_c
                    x[h] = x_h
                else:
                    for i in range(0,len(x)):
                        x[i] = x[i] +  (x_l-x[i]) / 2
        
        if(np.sqrt(1/(len(x) + 1) * np.sum([(f(i) - f(x_bar))**2 for i in x])) < eps):
            break
        
        
        print(x_bar)
    return x_bar

In [51]:
output = simplex_search(1,0.5,2,0.00000000000001,f,np.array([[100,-100],[40,5],[50,50]]))

[ 70.  -47.5]
[ 72.5  -36.25]
[43.75  21.875]
[15. 80.]
[15. 80.]
[15. 80.]
[15. 80.]
[15. 80.]
[15. 80.]
[16.6796875  84.62890625]
[17.31445312 85.28808594]
[16.63330078 83.13842773]
[15.17822266 75.8581543 ]
[13.72314453 68.57788086]
[12.26806641 61.29760742]
[10.81298828 54.01733398]
[ 9.35791016 46.73706055]
[ 7.90283203 39.45678711]
[ 7.22167969 37.30712891]
[ 6.47094727 32.92175293]
[ 6.67022705 34.39071655]
[ 7.24830627 36.92913055]
[ 6.71510696 34.29083824]
[ 6.39659405 32.76848078]
[ 6.58356547 33.70703757]
[ 6.47105187 33.18049803]
[ 6.50000714 33.22064657]
[ 6.53454749 33.45380493]
[ 6.49416459 33.25886189]
[ 6.4811476  33.22923379]
[ 6.4707189  33.15398335]
[ 6.48504892 33.22523523]
[ 6.49720315 33.27007078]
[ 6.50187355 33.30109192]
[ 6.50179385 33.3065448 ]
[ 6.50901864 33.33808108]
[ 6.5036399  33.31170243]
[ 6.49826116 33.28532378]
[ 6.50153931 33.30204994]
[ 6.5005925  33.29562097]
[ 6.49966353 33.29207962]
[ 6.50083366 33.29795012]
[ 6.50042055 33.29531792]
[ 6.50014532 33.29435682]
[ 6.50009949 33.29439506]
[ 6.49981267 33.29284824]
[ 6.5000507  33.29398924]
[ 6.50008581 33.29407157]
[ 6.50003151 33.2938471 ]
[ 6.49993485 33.29335331]
[ 6.49998019 33.29361142]
[ 6.49999452 33.29366473]
[ 6.49999611 33.29368553]
[ 6.50000366 33.29371739]
[ 6.49998049 33.29359858]
[ 6.49999409 33.29367176]
[ 6.50000362 33.29372205]
[ 6.4999992  33.29369804]
[ 6.50000059 33.29370256]
[ 6.500001  33.2937063]
[ 6.49999779 33.29368922]
[ 6.49999999 33.29370016]
[ 6.49999995 33.2937005 ]
[ 6.49999888 33.29369478]
[ 6.4999997 33.2936989]
[ 6.50000022 33.29370157]
[ 6.49999994 33.29370018]
[ 6.49999986 33.29369994]
[ 6.49999997 33.29370041]
[ 6.49999998 33.29370041]
[ 6.50000011 33.29370111]
[ 6.50000001 33.29370058]

In [83]:
print(f"""

x* =  {output}

f(x*) = {f(output)}

""")

x* =  [ 6.48252847 32.41264233]

f(x*) = -26.24969474552524